<div class="hacker-modal-card" data-id="{{id}}">
    <img class="hacker-pic" src="{{originalPhoto}}" alt="{{name}}">
        <div class="hacker-wrapper">
          <h3 class="hacker-name">{{name}}</h3>
          <p class="hacker-position">{{position}}</p>
          <p class="hacker-stack-and-tools">My stack and tools:</p>
          <ul class="hacker-tools-list">
            {{#each tools}}
            <li class="hacker-tools-item"><img class="hacker-tools-img" src="{{this}}" alt="tools logo"></li>
            {{/each}}
          </ul>
          <p class="hacker-location">Location: <span class="hacker-accent">{{country}}, {{city}}</span></p>
          <ul class="hacker-list">
            <li class="hacker-list-item"><p>E-mail: <a href="mailto:{{email}}">text me</a></p></li>
            <li class="hacker-list-item"><p>GitHub: <a href="{{github}}" target="_blank">check me</a></p></li>
        </ul>
    </div>
</div>