<div class="modal-card">

  <button type="button" class="modal-close-button material-icons">close</button>
  <a href={{homepage}} class="modal-card-film-ref" target="_blank">
    <img src="{{poster_path}}" class="modal-card-img"></a>

  <div class="modal-tablet-style">
    <h1 class="modal-card-title">{{original_title}}</h1>
    <div class="modal-card-film-info">
      <ul class="modal-card-info-list">
        <li class="modal-list-item">
          <div class="modal-card-info-list-item modal-value-name">Vote / Votes</div>
          <div class="modal-card-info-list-item modal-left">
            <p class="modal-rate">{{vote_average}}</p> <span class="modal-stick">/</span>
            <p class="modal-rate">{{vote_count}}</p>
          </div>
        </li>
        <li class="modal-list-item">
          <div class="modal-card-info-list-item modal-value-name">Popularity
          </div>
          <div class="modal-card-info-list-item">
            {{popularity}}
          </div>
        </li>
        <li class="modal-list-item">
          <div class="modal-card-info-list-item modal-value-name">Original Title</div>
          <div class="modal-card-info-list-item modal-original-title">
            {{original_title}}
          </div>
        </li>
        <li class="modal-list-item">
          <div class="modal-card-info-list-item modal-value-name">Genre</div>

          <div class="modal-card-info-list-item"> {{#each genres}}{{this}}{{#unless @last}} / {{/unless}}{{/each}}

        </li>
      </ul>

    </div>
    <p class="modal-card-about-title">about</p>
    <p class="modal-card-about">
      {{overview}}</p>
    <div class="modal-button-div">
      <button class="modal-card-button add" data-active="watched">add to Watched</button>
      <button class="modal-card-button add" data-active="queue">add to queue</button>
      <button class="modal-card-button trailer-btn" data-sourse="{{id}}" data-action="trailer">show trailer</button>
    </div>
  </div>
</div>