<li class="movie-item" data-sourse={{id}}>
 <div class="movie-img-wrapper"><img src="{{poster_path}}" alt="{{original_title}}" class="movie-img" data-create="poster" data-sourse={{id}}></div>
  <div class="movie-wrapper">
    <h3 class="movie-title" data-create="title">{{original_title}}</h3>
    <p class="movie-info" data-create="release-date">
      <span class="movie-genres" data-create="genres">{{genres}}</span> |
      <span class="movie-date">{{release_date}}</span>
      <span class="movie-rating">{{vote_average}}</span>
    </p>
  </div>
</li>
